{% extends 'index.html' %}
{% load static %}


{% block content %}


    <div class="content-header">
        <div class="container-fluid">
            <h1 class="m-0 text-dark">任务列表</h1>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">现有任务</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body" style="overflow-x:auto;">
                            <table id="example1" class="table table-striped table-hover" style="width:100%">
                                <thead>
                                <tr>
                                    <th style="text-align: center;">任务名称</th>
                                    <th style="text-align: center;">任务类型</th>
                                    <th style="text-align: center;">任务状态</th>
                                    <th style="text-align: center;">关联设备</th>
                                    <th style="text-align: center;">配置</th>
                                    <th style="text-align: center;">删除</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for task in tasks %}
                                    <tr>
                                        <td style="text-align: center; vertical-align: middle; color:green">{{ task.name }}</td>
                                        <td style="text-align: center; vertical-align: middle; color:#FF9900">{{ task.type }}</td>
                                        {% if task.state %}
                                            <td style="text-align: center; vertical-align: middle">
                                                <button type="button" class="btn btn-success"
                                                        onclick="stop_task({{ task.id }})">启动
                                                </button>
                                            </td>
                                        {% else %}
                                            <td style="text-align: center; vertical-align: middle">
                                                <button type="button" class="btn btn-danger"
                                                        onclick="start_task({{ task.id }})">停止
                                                </button>
                                            </td>
                                        {% endif %}
                                        <td style="text-align: center; vertical-align: middle; color:#FF0099">暂未实现</td>
                                        <td style="text-align: center; vertical-align: middle">配置</td>
                                        <td>
                                            <button type="button" class="btn btn-block btn-danger"
                                                    onclick="del_task({{ task.id }})">删除
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header with-border">
                            <h3 class="card-title">新增任务</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div method="post" role="form">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="taskName">任务名称</label>
                                    <input type="text" class="form-control" id="taskName" placeholder="">
                                </div>
                                <div class="form-group">
                                    <select id="deviceId" class="custom-select">
                                        <option selected>选择设备</option>
                                        {% for device in devices %}
                                            <option value="{{ device.id }}">{{ device.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select id="taskType" class="custom-select">
                                        <option selected>选择任务类型</option>
                                        <option value="yolov5">目标检测</option>
                                        <option value="face">人脸识别</option>
                                    </select>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button class="btn btn-primary" onclick="add_task()">新增</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


{% endblock %}


{% block script %}
    <!-- jQuery 3 -->
    <script src="{% static "plugins/jquery/jquery.min.js" %}"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="{% static "plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.js"></script>
    <!-- FastClick -->
    <script src="{% static "plugins/fastclick/fastclick.js" %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static "dist/js/adminlte.min.js" %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static "dist/js/demo.js" %}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $('#example1').DataTable({
                "scrollX": false,
                "autoWidth": true,
                "language": {
                    "processing": "处理中...",
                    "lengthMenu": "显示 _MENU_ 项结果",
                    "zeroRecords": "没有匹配结果",
                    "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "infoFiltered": "(由 _MAX_ 项结果过滤)",
                    "search": "搜索:",
                    "emptyTable": "表中数据为空",
                    "loadingRecords": "载入中...",
                    "infoThousands": ",",
                    "paginate": {
                        "first": "首页",
                        "previous": "上页",
                        "next": "下页",
                        "last": "末页"
                    }
                }
            });
        });


        function del_task(id) {
            $.ajax({
                type: 'POST',
                url: '',
                async: false,
                headers: {'X-CSRFToken': '{{csrf_token}}'},
                data: {"taskId": id, 'optype': 'delete'},
                success: function (data) {
                    if (data.code == 200) {
                        location.reload();
                    } else {
                        alert("error")
                    }
                },
            });
        }


        function add_task() {
            var taskName = document.getElementById("taskName").value;
            var deviceId = document.getElementById("deviceId").value;
            var taskType = document.getElementById("taskType").value;
            $.ajax({
                type: 'POST',
                url: '',
                async: false,
                headers: {'X-CSRFToken': '{{csrf_token}}'},
                data: {
                    "taskName": taskName,
                    "deviceId": deviceId,
                    'taskType': taskType,
                    'optype': 'add'
                },
                success: function (data) {
                    if (data.code == 200) {
                        location.reload();
                    } else {
                        alert("error")
                    }
                },
            });
        }

        function start_task(id) {
            $.ajax({
                type: 'POST',
                url: '',
                async: false,
                headers: {'X-CSRFToken': '{{csrf_token}}'},
                data: {
                    'taskId': id,
                    'optype': 'start'
                },
                success: function (data) {
                    if (data.code == 200) {
                        location.reload();
                    } else {
                        alert("error")
                    }
                },
            });
        }

        function stop_task(id) {
            $.ajax({
                type: 'POST',
                url: '',
                async: false,
                headers: {'X-CSRFToken': '{{csrf_token}}'},
                data: {
                    'taskId': id,
                    'optype': 'stop'
                },
                success: function (data) {
                    if (data.code == 200) {
                        location.reload();
                    } else {
                        alert("error")
                    }
                },
            });
        }
    </script>
{% endblock %}

</body>

</html>
